@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

a {
  color: black !important;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
  margin: 0px 30px;
}

.Authcard {
  max-width: 450px;
  margin: 30px auto;
}
.CardMargin {
  padding: 20px;
  text-align: center;
}

.button {
  margin: 20px 0px;
}

.gallary {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  width: 30%;
}

.post-card {
  width: 500px;
  margin: 0 auto;
  padding: 2px 1%;
}

.input-filling {
  max-width: 500px;
  margin: auto;
  margin-top: 40px;
  padding: 10px;
  text-align: center;
}

#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
